<nz-layout class="app-layout">
  <nz-header>
    <div class="app-header">
      <div style="height: 100%">
          <a>
            <span class="app-title">Operation Risk Stress Loss Estimation</span>
          </a>
      </div>
    </div>
    <div class="light-blue-bar">
    </div>
  </nz-header>
  <nz-layout>
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    nzTheme="light">
    <app-left-menus></app-left-menus>
  </nz-sider>
    <!--
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    -->
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
